# DT2W
on boot
    chown system system /sys/devices/platform/soc/78b7000.i2c/i2c-3/3-0020/input/input1/wake_gesture

# Fingerprint
on boot
    # add for goodix 
    chown system system /dev/goodix_fp
    chmod 0644 /dev/goodix_fp

    # add for fpc 
    chown system system /sys/devices/platform/soc/soc:fpc1020/compatible_all
    chmod 0664 /sys/devices/platform/soc/soc:fpc1020/compatible_all
    chown system system /sys/devices/platform/soc/soc:fpc1020/irq
    chmod 0660 /sys/devices/platform/soc/soc:fpc1020/irq
    chown system system /sys/devices/platform/soc/soc:fpc1020/hw_reset
    chmod 0660 /sys/devices/platform/soc/soc:fpc1020/hw_reset
    chown system system /sys/devices/platform/soc/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/devices/platform/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/devices/platform/soc/soc:fpc1020/fingerdown_wait
    chmod 0660 /sys/devices/platform/soc/soc:fpc1020/fingerdown_wait

on post-fs-data
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fpc 0770 system system

# IR
on boot
    chown system system /dev/peel_ir

# UClamp tunings
on boot
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 96
    write /proc/sys/kernel/sched_util_clamp_min 128

    # top-app
    write /dev/cpuset/top-app/uclamp.max max
    write /dev/cpuset/top-app/uclamp.min 20
    write /dev/cpuset/top-app/uclamp.boosted 1
    write /dev/cpuset/top-app/uclamp.latency_sensitive 1

    # foreground
    write /dev/cpuset/foreground/uclamp.max 50
    write /dev/cpuset/foreground/uclamp.min 20
    write /dev/cpuset/foreground/uclamp.boosted 0
    write /dev/cpuset/foreground/uclamp.latency_sensitive 0

    # background
    write /dev/cpuset/background/uclamp.max max
    write /dev/cpuset/background/uclamp.min 20
    write /dev/cpuset/background/uclamp.boosted 0
    write /dev/cpuset/background/uclamp.latency_sensitive 0

    # system-background
    write /dev/cpuset/system-background/uclamp.max 50
    write /dev/cpuset/system-background/uclamp.min 10
    write /dev/cpuset/system-background/uclamp.boosted 0
    write /dev/cpuset/system-background/uclamp.latency_sensitive 0
